@import "variables";

.best_seller_next {
  .card_1 {
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 51px;

    @include max-screen(360px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .container {
      display: flex;
      align-items: center;
      gap: 50px;

      @include max-screen(360px) {
        display: block;
      }

      img {
        max-width: 385px;

        @include max-screen(360px) {
          width: 100%;
        }
      }

      .card_text {
        h3 {
          font-family: $font_family;
          font-weight: 700;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 31px;
        }

        p {
          font-family: $font_family;
          font-weight: 400;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 40px;
        }

        a {
          font-family: $font_family;
          font-weight: 700;
          font-size: 17px;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: $main_color;
          transition: 0.4s;
          display: inline-block;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .card_2 {
    background: rgba(204, 204, 204, 0.6);
    padding-top: 76px;
    padding-bottom: 51px;

    @include max-screen(360px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      max-width: 385px;

      @include max-screen(360px) {
        width: 100%;
      }
    }

    .container {
      display: flex;
      align-items: center;
      gap: 50px;

      @include max-screen(360px) {
        display: block;
      }

      .card_text {
        h3 {
          font-family: $font_family;
          font-weight: 700;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 31px;
        }

        p {
          font-family: $font_family;
          font-weight: 400;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 40px;
        }

        a {
          font-family: $font_family;
          font-weight: 700;
          font-size: 17px;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: $main_color;
          transition: 0.4s;
          display: inline-block;

          @include max-screen(360px) {
            margin-bottom: 16px;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .card_3 {
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 51px;

    @include max-screen(360px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      max-width: 385px;

      @include max-screen(360px) {
        width: 100%;
      }
    }

    .container {
      display: flex;
      align-items: center;
      gap: 50px;

      @include max-screen(360px) {
        display: block;
      }

      .card_text {
        h3 {
          font-family: $font_family;
          font-weight: 700;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 31px;
        }

        p {
          font-family: $font_family;
          font-weight: 400;
          font-size: 36px;
          color: $main_color;
          margin-bottom: 40px;
        }

        a {
          font-family: $font_family;
          font-weight: 700;
          font-size: 17px;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: $main_color;
          display: inline-block;
          transition: 0.4s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
