@import "variables";
@import "mixins";

.features {
  padding-top: 200px;
  padding-bottom: 110px;

  @include max-screen(360px) {
    padding-top: 72px;
  }

  .container {
    h2 {
      font-family: $font_family;
      font-weight: 400;
      font-size: 36px;
      text-align: center;
      color: $main_color;
      margin-bottom: 70px;
    }

    .points {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 110px 24px;

      @include max-screen(360px) {
        display: block;
      }

      .point {
        flex-basis: 338px;
        text-align: center;

        @include max-screen(360px) {
          margin-bottom: 48px;
        }

        svg {
          margin-bottom: 26px;
        }

        h3 {
          font-family: $font_family;
          font-weight: 700;
          font-size: 30px;
          text-align: center;
          color: $main_color;
        }
      }
    }
  }
}