@import "variables";
@import "mixins";

.promo {
  background: #f0efeb;
  padding: 9px 24px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-screen(360px) {
      display: block;
    }
    .text {
      h1 {
        font-family: $font_family;
        font-weight: 700;
        font-size: 60px;
        color: #000;
        margin-bottom: 42px;
      }

      p {
        font-family: $font_family;
        font-weight: 400;
        font-size: 24px;
        color: $main_color;
        margin-bottom: 33px;
      }

      a {
        padding: 8px 23px;
        font-family: $font_family;
        font-weight: 400;
        font-size: 17px;
        color: #fff;
        background: $main_color;
        border: 1px solid #000;
        border-radius: 100px;
        text-decoration: none;
        transition: 0.4s;

        &:hover {
          color: $main_color;
          background-color: white;
        }
      }
    }

    img {
      max-width: 599px;
      position: relative;
      left: 100px;

      @include max-screen(360px) {
        position: static;
        width: 100%;
      }
    }
  }
}
