@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px; }
  @media screen and (max-width: 360px) {
    nav {
      padding-left: 10px;
      padding-right: 10px; } }
  nav .nav_wrapper {
    display: flex;
    align-items: center;
    gap: 83px; }
  @media screen and (max-width: 360px) {
    nav .nav_wrapper {
      display: inline-block; } }
    nav .nav_wrapper ul {
      display: flex;
      gap: 28px;
      padding: 14px; }
  @media screen and (max-width: 360px) {
    nav .nav_wrapper ul {
      display: none; } }
      nav .nav_wrapper ul li a {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 165%;
        color: #000;
        text-decoration: none;
        position: relative;
        transition: 0.4s; }
        nav .nav_wrapper ul li a:hover:after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 2px;
          background-color: #000;
          position: absolute;
          bottom: -3px;
          left: 0; }
  @media screen and (max-width: 360px) {
    nav .socials {
      display: inline-block; } }
  nav .socials ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0; }
    nav .socials ul li:nth-child(1) svg {
      margin-right: 15px;
      transition: 0.4s; }
      nav .socials ul li:nth-child(1) svg:hover {
        transform: scale(1.2); }
    nav .socials ul li:nth-child(2) svg {
      margin-right: 7px;
      transition: 0.4s; }
      nav .socials ul li:nth-child(2) svg:hover {
        transform: scale(1.2); }
    nav .socials ul li:nth-child(3) svg {
      transition: 0.4s; }
      nav .socials ul li:nth-child(3) svg:hover {
        transform: scale(1.2); }

.promo {
  background: #f0efeb;
  padding: 9px 24px; }
  .promo .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media screen and (max-width: 360px) {
    .promo .container {
      display: block; } }
    .promo .container .text h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 60px;
      color: #000;
      margin-bottom: 42px; }
    .promo .container .text p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #000;
      margin-bottom: 33px; }
    .promo .container .text a {
      padding: 8px 23px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 17px;
      color: #fff;
      background: #000;
      border: 1px solid #000;
      border-radius: 100px;
      text-decoration: none;
      transition: 0.4s; }
      .promo .container .text a:hover {
        color: #000;
        background-color: white; }
    .promo .container img {
      max-width: 599px;
      position: relative;
      left: 100px; }
  @media screen and (max-width: 360px) {
    .promo .container img {
      position: static;
      width: 100%; } }

.about {
  padding-top: 60px;
  padding-bottom: 88px; }
  .about .container {
    text-align: center; }
    .about .container h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #000;
      margin-bottom: 26px; }
    .about .container p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      color: #000;
      margin-bottom: 47px; }

.best_seller {
  padding-bottom: 248px; }
  @media screen and (max-width: 360px) {
    .best_seller {
      padding-bottom: 0; } }
  .best_seller h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #000;
    padding-bottom: 52px; }
  .best_seller .container {
    display: flex;
    justify-content: space-between; }
  @media screen and (max-width: 360px) {
    .best_seller .container {
      display: block; } }
    .best_seller .container .card {
      text-align: center;
      max-width: 309px; }
      .best_seller .container .card img {
        margin-bottom: 27px; }
      .best_seller .container .card h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 17px;
        color: #000;
        margin-bottom: 17px; }
      .best_seller .container .card p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #000;
        margin-bottom: 10px; }
      .best_seller .container .card a {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 17px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #000;
        transition: 0.4s;
        display: inline-block; }
  @media screen and (max-width: 360px) {
    .best_seller .container .card a {
      margin-bottom: 40px; } }
        .best_seller .container .card a:hover {
          transform: scale(1.1); }

.best_seller_next .card_1 {
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_1 {
    padding-left: 10px;
    padding-right: 10px; } }
  .best_seller_next .card_1 .container {
    display: flex;
    align-items: center;
    gap: 50px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_1 .container {
    display: block; } }
    .best_seller_next .card_1 .container img {
      max-width: 385px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_1 .container img {
    width: 100%; } }
    .best_seller_next .card_1 .container .card_text h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #000;
      margin-bottom: 31px; }
    .best_seller_next .card_1 .container .card_text p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #000;
      margin-bottom: 40px; }
    .best_seller_next .card_1 .container .card_text a {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 17px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #000;
      transition: 0.4s;
      display: inline-block; }
      .best_seller_next .card_1 .container .card_text a:hover {
        transform: scale(1.1); }
.best_seller_next .card_2 {
  background: rgba(204, 204, 204, 0.6);
  padding-top: 76px;
  padding-bottom: 51px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_2 {
    padding-left: 10px;
    padding-right: 10px; } }
  .best_seller_next .card_2 img {
    max-width: 385px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_2 img {
    width: 100%; } }
  .best_seller_next .card_2 .container {
    display: flex;
    align-items: center;
    gap: 50px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_2 .container {
    display: block; } }
    .best_seller_next .card_2 .container .card_text h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #000;
      margin-bottom: 31px; }
    .best_seller_next .card_2 .container .card_text p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #000;
      margin-bottom: 40px; }
    .best_seller_next .card_2 .container .card_text a {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 17px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #000;
      transition: 0.4s;
      display: inline-block; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_2 .container .card_text a {
    margin-bottom: 16px; } }
      .best_seller_next .card_2 .container .card_text a:hover {
        transform: scale(1.1); }
.best_seller_next .card_3 {
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_3 {
    padding-left: 10px;
    padding-right: 10px; } }
  .best_seller_next .card_3 img {
    max-width: 385px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_3 img {
    width: 100%; } }
  .best_seller_next .card_3 .container {
    display: flex;
    align-items: center;
    gap: 50px; }
@media screen and (max-width: 360px) {
  .best_seller_next .card_3 .container {
    display: block; } }
    .best_seller_next .card_3 .container .card_text h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: #000;
      margin-bottom: 31px; }
    .best_seller_next .card_3 .container .card_text p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #000;
      margin-bottom: 40px; }
    .best_seller_next .card_3 .container .card_text a {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 17px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #000;
      display: inline-block;
      transition: 0.4s; }
      .best_seller_next .card_3 .container .card_text a:hover {
        transform: scale(1.1); }

.features {
  padding-top: 200px;
  padding-bottom: 110px; }
  @media screen and (max-width: 360px) {
    .features {
      padding-top: 72px; } }
  .features .container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 70px; }
  .features .container .points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 110px 24px; }
  @media screen and (max-width: 360px) {
    .features .container .points {
      display: block; } }
    .features .container .points .point {
      flex-basis: 338px;
      text-align: center; }
  @media screen and (max-width: 360px) {
    .features .container .points .point {
      margin-bottom: 48px; } }
      .features .container .points .point svg {
        margin-bottom: 26px; }
      .features .container .points .point h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #000; }

.interviews {
  padding-top: 52px; }
  .interviews .container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #000;
    margin-bottom: 290px; }
  @media screen and (max-width: 360px) {
    .interviews .container h2 {
      margin-bottom: 48px; } }
  .interviews .voices {
    background-color: #f0f0f0;
    padding-bottom: 52px;
    padding-top: 198px; }
  @media screen and (max-width: 360px) {
    .interviews .voices {
      padding-top: 0; } }
    .interviews .voices .container {
      display: flex;
      justify-content: space-between; }
  @media screen and (max-width: 360px) {
    .interviews .voices .container {
      display: block; } }
      .interviews .voices .container .voice_card {
        text-align: center;
        position: relative;
        flex-basis: 287px; }
        .interviews .voices .container .voice_card img {
          position: absolute;
          top: -390px;
          left: 0; }
  @media screen and (max-width: 360px) {
    .interviews .voices .container .voice_card img {
      position: static;
      margin-bottom: 10px; } }
        .interviews .voices .container .voice_card h3 {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 22px;
          letter-spacing: 0.03em;
          color: #000;
          margin-bottom: 40px; }
        .interviews .voices .container .voice_card p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 19px;
          color: #000;
          margin-bottom: 44px; }
        .interviews .voices .container .voice_card a {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 18px;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #000;
          display: inline-block;
          transition: 0.4s; }
  @media screen and (max-width: 360px) {
    .interviews .voices .container .voice_card a {
      margin-bottom: 20px; } }
          .interviews .voices .container .voice_card a:hover {
            transform: scale(1.1); }

.subscribe {
  padding-top: 79px;
  padding-bottom: 88px; }
  @media screen and (max-width: 360px) {
    .subscribe {
      padding-left: 10px;
      padding-right: 10px; } }
  .subscribe .container {
    text-align: center; }
    .subscribe .container h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #000;
      margin-bottom: 9px; }
    .subscribe .container p {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      color: #000;
      margin-bottom: 26px; }
    .subscribe .container form {
      max-width: 366px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto; }
      .subscribe .container form input:nth-of-type(1) {
        border: 1px solid #000;
        width: 153px;
        height: 39px;
        display: inline-block;
        margin-bottom: 18px;
        padding-left: 8px; }
      .subscribe .container form input:nth-of-type(2) {
        border: 1px solid #000;
        width: 153px;
        height: 39px;
        padding-left: 8px; }
      .subscribe .container form input:nth-of-type(3) {
        border: 1px solid #000;
        width: 366px;
        height: 39px;
        margin-bottom: 16px;
        padding-left: 8px; }
      .subscribe .container form button {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #fff;
        padding: 9px 24px;
        background-color: #000;
        border-radius: 100px;
        margin: auto;
        cursor: pointer;
        transition: 0.4s; }
        .subscribe .container form button:hover {
          color: #000;
          background-color: white; }

footer {
  background-color: #020202;
  padding-top: 51px;
  padding-bottom: 16px; }
  @media screen and (max-width: 360px) {
    footer {
      padding-left: 10px;
      padding-right: 10px; } }
  footer .container .footer_info {
    display: flex;
    justify-content: space-between; }
  @media screen and (max-width: 360px) {
    footer .container .footer_info {
      display: block; } }
  @media screen and (max-width: 360px) {
    footer .container .footer_info .footer_socials {
      margin-bottom: 60px; } }
    footer .container .footer_info .footer_socials .footer_logo {
      margin-bottom: 37px; }
    footer .container .footer_info .footer_socials ul {
      display: flex;
      gap: 20px; }
      footer .container .footer_info .footer_socials ul li a svg {
        transition: 0.4s; }
        footer .container .footer_info .footer_socials ul li a svg:hover {
          transform: scale(1.2); }
    footer .container .footer_info .footer_nav {
      display: flex;
      gap: 72px; }
  @media screen and (max-width: 360px) {
    footer .container .footer_info .footer_nav {
      display: block; } }
      footer .container .footer_info .footer_nav .footer_text {
        margin-bottom: 20px; }
        footer .container .footer_info .footer_nav .footer_text h3 {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 165%;
          color: #fff;
          margin-bottom: 36px; }
        footer .container .footer_info .footer_nav .footer_text ul li {
          margin-bottom: 12px; }
          footer .container .footer_info .footer_nav .footer_text ul li a {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            position: relative; }
            footer .container .footer_info .footer_nav .footer_text ul li a:last-child {
              margin-bottom: 0; }
            footer .container .footer_info .footer_nav .footer_text ul li a:hover:after {
              content: "";
              display: inline-block;
              width: 100%;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: -3px;
              left: 0; }
  footer .container p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    text-align: center;
    color: #fff; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1064px;
  margin: 0 auto; }

.owl-nav .owl-prev span {
  display: none; }

.owl-nav .owl-prev {
  width: 35px;
  height: 35px;
  background-color: #1a712a !important;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: -40px; }

.owl-nav .owl-next {
  width: 35px;
  height: 35px;
  background-color: #1a712a !important;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: -40px; }

.owl-dots {
  text-align: center; }

.owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 50%;
  margin: 10px; }

.owl-dots .owl-dot.active span {
  background-color: #46A358; }
